:root {
  /* Primary */

  --Soft-orange: hsl(35, 77%, 62%);
  --Soft-red: hsl(5, 85%, 63%);

  /* Neutral */

  --Off-white: hsl(36, 100%, 99%);
  --Grayish-blue: hsl(233, 8%, 79%);
  --Dark-grayish-blue: hsl(236, 13%, 42%);
  --Very-dark-blue: hsl(240, 100%, 5%);
}

.close {
  display: none;
}

.burger-icon {
  display: none;
}

header {
  display: grid;
  /* flex-direction: row;
  align-items: center;
  justify-content: space-between; */
}

.header__line {
  display: flex;
  justify-content: space-between;
}

.nav--main__list {
  display: flex;
  gap: 2px;
  list-style: none;
}
